/* need to set.... "css.lint.unknownAtRules": "ignore" */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .butt-colour {
        @apply text-black bg-blue-300 hover:bg-blue-400 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
    }
    .butt {
        @apply butt-colour mt-3 mr-3 focus:ring-4 font-medium rounded-lg text-sm px-2 lg:w-20 h-10   focus:outline-none 
    }

    .blocked {
        @apply m-5 block p-2 hover:bg-white rounded-lg border border-gray-200 shadow-md bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 h-auto
    }
    
    .tab {
        @apply  w-1/5 self-center justify-center text-center font-medium border border-t-0 border-gray-200 rounded-b-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 hover:bg-blue-400 dark:hover:bg-gray-800 bg-blue-300 dark:bg-gray-800 text-gray-900 dark:text-white p-0 h-6
    }

    .tabhead {
        @apply flex items-center justify-between w-full font-medium text-left border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 hover:bg-blue-400 dark:hover:bg-gray-800 bg-blue-300 dark:bg-gray-800 text-gray-900 dark:text-white p-0 h-10
    }

}

ln:nth-child(1){
    background-color: color-mix(in srgb, red 10%, white);
}

ln:nth-child(2){
    background-color: color-mix(in srgb, red 25%, white);
}

ln:nth-child(3){
    background-color: color-mix(in srgb, red 50%, white);
}

ln:nth-child(4){
    background-color: color-mix(in srgb, red 75%, white);
}

ln:nth-child(5){
    background-color: color-mix(in srgb, red 100%, white);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}
